In [441]:
import re
from urllib.parse import urlparse
from datetime import datetime
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.neighbors import LocalOutlierFactor
from sklearn.ensemble import IsolationForest
from sklearn.svm import OneClassSVM
from sklearn.covariance import EllipticEnvelope
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
from sklearn.pipeline import Pipeline

In [17]:
engine = create_engine('postgres://fhaqftqhkzrvnq:b76a214722d9525e3647b40f44a6051e915270788d40d531aecfbdf4d102c435@ec2-3-221-243-122.compute-1.amazonaws.com:5432/dee2cchssk4u3u')
df = pd.read_sql_table('tab_info', con=engine)

In [18]:
df_copy = df

In [26]:
df = df_copy

In [5]:
df.describe(include='all')

<ipython-input-5-174ba9bf1a5c>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include='all')

,id,user_id,url,timestamp,tab_count,lang
count,1246.000000,1246.000000,1246,1246,1246.000000,1246
unique,NaN,NaN,678,1246,NaN,6
top,NaN,NaN,translate.google.com.ua,2021-02-23 13:05:16.961000,NaN,en
freq,NaN,NaN,79,1,NaN,783
first,NaN,NaN,NaN,2021-02-19 18:45:01.115000,NaN,NaN
last,NaN,NaN,NaN,2021-02-28 17:49:06.284000,NaN,NaN
mean,623.500000,1.206260,NaN,NaN,5.451846,NaN
std,359.833526,0.404782,NaN,NaN,2.665654,NaN
min,1.000000,1.000000,NaN,NaN,1.000000,NaN
25%,312.250000,1.000000,NaN,NaN,4.000000,NaN
50%,623.500000,1.000000,NaN,NaN,5.000000,NaN
75%,934.750000,1.000000,NaN,NaN,7.000000,NaN
max,1246.000000,2.000000,NaN,NaN,15.000000,NaN

In [48]:
df.lang = df.lang.replace('uk', 'ua')
df.lang = df.lang.replace('', 'und')

In [34]:
df['weekday'] = df.timestamp.apply(datetime.weekday)

In [44]:
df['hour'] = df['timestamp'].dt.hour

In [62]:
df

,id,user_id,url,timestamp,tab_count,lang,weekday,hour
373,374,1,https://chrome-profiler.herokuapp.com/,2021-02-20 19:27:31.911,8,und,5,19
374,375,1,https://dashboard.heroku.com/apps/chrome-profiler,2021-02-20 19:27:42.344,7,en,5,19
375,376,1,https://data.heroku.com/,2021-02-20 19:28:02.036,5,en,5,19
376,377,1,https://data.heroku.com/datastores/18a2ba0f-3a...,2021-02-20 19:28:05.052,5,en,5,19
377,378,1,https://data.heroku.com/dataclips,2021-02-20 19:28:19.546,5,en,5,19
...,...,...,...,...,...,...,...,...
1241,1242,1,https://data.heroku.com/,2021-02-28 17:48:48.571,9,en,6,17
1242,1243,1,https://data.heroku.com/auth/heroku/callback?c...,2021-02-28 17:48:51.176,9,en,6,17
1243,1244,1,https://data.heroku.com/,2021-02-28 17:48:52.075,9,en,6,17
1244,1245,1,https://data.heroku.com/datastores/18a2ba0f-3a...,2021-02-28 17:48:59.967,9,en,6,17
1245,1246,1,https://data.heroku.com/datastores/18a2ba0f-3a...,2021-02-28 17:49:06.284,9,en,6,17

In [61]:
df = df[373:]

In [63]:
df1 = df[df.user_id == 1]
df2 = df[df.user_id == 2]

In [341]:
pipeline1 = Pipeline([
    ('cv', CountVectorizer()),
    ('tfidf', TfidfTransformer()),
    ('clf', LocalOutlierFactor(novelty=True))
])
pipeline2 = Pipeline([
    ('cv', CountVectorizer(analyzer=process_url)),
    ('tfidf', TfidfTransformer()),
    ('clf', IsolationForest())
])
pipeline3 = Pipeline([
    ('cv', CountVectorizer(analyzer=process_url)),
    ('tfidf', TfidfTransformer()),
    ('clf', OneClassSVM())
])

In [193]:
cv = CountVectorizer(analyzer=process_url)
tfidf = TfidfTransformer()
lof = LocalOutlierFactor(novelty=True)
iforest = IsolationForest()
svm = OneClassSVM()

In [334]:
x_train, x_test = train_test_split(df1)

In [335]:
x_train_urls = x_train.url
x_test_urls = x_test.url

In [342]:
pipeline1.fit(x_train_urls)

Pipeline(steps=[('cv', CountVectorizer()), ('tfidf', TfidfTransformer()),
                ('clf', LocalOutlierFactor(novelty=True))])

In [343]:
y_pred_urls_self = pipeline1.predict(x_test_urls)

In [344]:
y_pred_urls_self = pd.DataFrame(y_pred_urls_self, columns=['predictions'])

In [345]:
y_pred_urls_self['true'] = 1

In [346]:
y_pred_urls_self

     predictions  true
0              1     1
1              1     1
2              1     1
3              1     1
4              1     1
..           ...   ...
153            1     1
154            1     1
155           -1     1
156            1     1
157            1     1

[158 rows x 2 columns]

In [348]:
print(
    accuracy_score(y_pred_urls_self.true, y_pred_urls_self.predictions),
#     precision_score(y_pred_urls_self.true, y_pred_urls_self.predictions),
#     recall_score(y_pred_urls_self.true, y_pred_urls_self.predictions),
#     roc_auc_score(y_pred_urls_self.true, y_pred_urls_self.predictions),
    sep='\n')

0.9240506329113924

In [340]:
print(
    accuracy_score(y_pred_urls_self.true, y_pred_urls_self.predictions),
#     precision_score(y_pred_urls_self.true, y_pred_urls_self.predictions),
#     recall_score(y_pred_urls_self.true, y_pred_urls_self.predictions),
#     roc_auc_score(y_pred_urls_self.true, y_pred_urls_self.predictions),
    sep='\n')

0.9367088607594937
1.0
0.9367088607594937

In [349]:
y_pred_urls_other = pipeline1.predict(df2.url)

In [350]:
y_pred_urls_other = pd.DataFrame(y_pred_urls_other, columns=['predictions'])

In [351]:
y_pred_urls_other['true'] = -1

In [352]:
y_pred_urls_other

     predictions  true
0              1    -1
1              1    -1
2             -1    -1
3             -1    -1
4             -1    -1
..           ...   ...
239            1    -1
240            1    -1
241            1    -1
242            1    -1
243            1    -1

[244 rows x 2 columns]

In [187]:
print(
    accuracy_score(y_pred_urls_other.true, y_pred_urls_other.predictions),
    precision_score(y_pred_urls_other.true, y_pred_urls_other.predictions),
    recall_score(y_pred_urls_other.true, y_pred_urls_other.predictions),
#     roc_auc_score(y_pred_urls_other.true, y_pred_urls_other.predictions),
    sep='\n')

0.2336065573770492
0.0
0.0

/home/andrey/PycharmProjects/testing/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [90]:
STOPWORDS = ['www', 'com', 'org', 'net', 'int', 'edu', 'gov', 'mil', '']
DELIMITERS = ['&', '$', '+', ',', '/', ':', ';', '=', '?', '!', '@', '#', '-', '.', '_', '~']
PATTERN = '|'.join(map(re.escape, DELIMITERS))

In [94]:
def process_url(url):
    url = urlparse(url)
    url = url.netloc + url.path
    url = re.split(PATTERN, url)
    url = [word for word in url if word not in STOPWORDS]
    return url

In [499]:
cv1 = CountVectorizer(analyzer=process_url)
cv2 = CountVectorizer(analyzer='char', ngram_range=(5, 5))
tfidf = TfidfTransformer()
lof = LocalOutlierFactor(novelty=True)
iforest = IsolationForest()
svm = OneClassSVM()

In [470]:
a1 = cv1.build_analyzer()
a2 = cv2.build_analyzer()

In [466]:
url = df.iloc[450].url

In [471]:
a2(url)

['ht',
 'tt',
 'tp',
 'ps',
 's:',
 ':/',
 '//',
 '/w',
 'ww',
 'ww',
 'w.',
 '.g',
 'go',
 'oo',
 'og',
 'gl',
 'le',
 'e.',
 '.c',
 'co',
 'om',
 'm.',
 '.u',
 'ua',
 'a/',
 '/m',
 'ma',
 'ap',
 'ps',
 's/',
 '/d',
 'di',
 'ir',
 'r/',
 '//',
 '/k',
 'ky',
 'yi',
 'iv',
 'v+',
 '+b',
 'bo',
 'or',
 'ry',
 'ys',
 'sp',
 'pi',
 'il',
 'l+',
 '+i',
 'in',
 'nt',
 'te',
 'er',
 'rn',
 'na',
 'at',
 'ti',
 'io',
 'on',
 'na',
 'al',
 'l+',
 '+a',
 'ai',
 'ir',
 'rp',
 'po',
 'or',
 'rt',
 't+',
 '+(',
 '(k',
 'kb',
 'bp',
 'p)',
 '),',
 ',+',
 '+b',
 'bo',
 'or',
 'ry',
 'ys',
 'sp',
 'pi',
 'il',
 "l'",
 "',",
 ',+',
 '+k',
 'ky',
 'yi',
 'iv',
 'v+',
 '+o',
 'ob',
 'bl',
 'la',
 'as',
 'st',
 't,',
 ',+',
 '+0',
 '08',
 '83',
 '30',
 '07',
 '7/',
 '/@',
 '@5',
 '50',
 '0.',
 '.4',
 '41',
 '12',
 '23',
 '34',
 '49',
 '95',
 '5,',
 ',3',
 '30',
 '0.',
 '.5',
 '52',
 '25',
 '57',
 '74',
 '49',
 '94',
 '4,',
 ',1',
 '16',
 '6.',
 '.3',
 '38',
 '8z',
 'z/',
 '/d',
 'da',
 'at',
 'ta',
 'a=',
 '=!',
 '!4',
 '4m',
 'm9',
 '9!',
 '!4',
 '4m',
 'm8',
 '8!',
 '!1',
 '1m',
 'm0',
 '0!',
 '!1',
 '1m',
 'm5',
 '5!',
 '!1',
 '1m',
 'm1',
 '1!',
 '!1',
 '1s',
 's0',
 '0x',
 'x4',
 '40',
 '0d',
 'd4',
 '4e',
 'e8',
 '8f',
 'fa',
 'a6',
 '66',
 '67',
 '7e',
 'ec',
 'c5',
 '5d',
 'd1',
 '1:',
 ':0',
 '0x',
 'x6',
 '69',
 '90',
 '0a',
 'a2',
 '2c',
 'c5',
 '5d',
 'd4',
 '49',
 '9d',
 'd8',
 '87',
 '70',
 '0d',
 'da',
 'a!',
 '!2',
 '2m',
 'm2',
 '2!',
 '!1',
 '1d',
 'd3',
 '30',
 '0.',
 '.8',
 '89',
 '93',
 '39',
 '92',
 '27',
 '74',
 '4!',
 '!2',
 '2d',
 'd5',
 '50',
 '0.',
 '.3',
 '33',
 '38',
 '82',
 '22',
 '22',
 '2!',
 '!3',
 '3e',
 'e0',
 '0?',
 '?h',
 'hl',
 'l=',
 '=e',
 'en']

In [500]:
x_train, x_test = train_test_split(df1)

In [501]:
x_train1 = cv1.fit_transform(x_train.url)
x_test1 = cv1.transform(x_test.url)
x_test_other1 = cv1.transform(df2.url)

x_train2 = cv2.fit_transform(x_train.url)
x_test2 = cv2.transform(x_test.url)
x_test_other2 = cv2.transform(df2.url)

x_train1 = tfidf.fit_transform(x_train1)
x_test1 = tfidf.transform(x_test1)
x_test_other1 = tfidf.transform(x_test_other1)

x_train2 = tfidf.fit_transform(x_train2)
x_test2 = tfidf.transform(x_test2)
x_test_other2 = tfidf.transform(x_test_other2)

In [502]:
lof = LocalOutlierFactor(novelty=True)
lof.fit(x_train1)
pred1 = lof.predict(x_test1)
pred_other1 = lof.predict(x_test_other1)
pred1 = pd.DataFrame(pred1, columns=['pred'])
pred1['true'] = 1
pred_other1 = pd.DataFrame(pred_other1, columns=['pred'])
pred_other1['true'] = -1
print(
    accuracy_score(pred1.true, pred1.pred),
#     precision_score(pred.true, pred.pred),
#     recall_score(pred.true, pred.pred),
#     roc_auc_score(y_pred_urls_self.true, y_pred_urls_self.predictions),
    sep='\n')
print('\n',
    accuracy_score(pred_other1.true, pred_other1.pred),
#     precision_score(pred_other.true, pred_other.pred),
#     recall_score(pred_other.true, pred_other.pred),
#     roc_auc_score(y_pred_urls_self.true, y_pred_urls_self.predictions),
    sep='\n')

0.9493670886075949


0.1680327868852459

In [503]:
lof = LocalOutlierFactor(novelty=True)
lof.fit(x_train2)
pred2 = lof.predict(x_test2)
pred_other2 = lof.predict(x_test_other2)
pred2 = pd.DataFrame(pred2, columns=['pred'])
pred2['true'] = 1
pred_other2 = pd.DataFrame(pred_other2, columns=['pred'])
pred_other2['true'] = -1
print(
    accuracy_score(pred2.true, pred2.pred),
#     precision_score(pred.true, pred.pred),
#     recall_score(pred.true, pred.pred),
#     roc_auc_score(y_pred_urls_self.true, y_pred_urls_self.predictions),
    sep='\n')
print('\n',
    accuracy_score(pred_other2.true, pred_other2.pred),
#     precision_score(pred_other.true, pred_other.pred),
#     recall_score(pred_other.true, pred_other.pred),
#     roc_auc_score(y_pred_urls_self.true, y_pred_urls_self.predictions),
    sep='\n')

0.8607594936708861


0.42213114754098363

In [504]:
iforest = IsolationForest()
iforest.fit(x_train1)
pred1 = iforest.predict(x_test1)
pred_other1 = iforest.predict(x_test_other1)
pred1 = pd.DataFrame(pred1, columns=['pred'])
pred1['true'] = 1
pred_other1 = pd.DataFrame(pred_other1, columns=['pred'])
pred_other1['true'] = -1
print(
    accuracy_score(pred1.true, pred1.pred),
#     precision_score(pred.true, pred.pred),
#     recall_score(pred.true, pred.pred),
#     roc_auc_score(y_pred_urls_self.true, y_pred_urls_self.predictions),
    sep='\n')
print('\n',
    accuracy_score(pred_other1.true, pred_other1.pred),
#     precision_score(pred_other.true, pred_other.pred),
#     recall_score(pred_other.true, pred_other.pred),
#     roc_auc_score(y_pred_urls_self.true, y_pred_urls_self.predictions),
    sep='\n')

1.0


0.0

In [505]:
iforest = IsolationForest()
iforest.fit(x_train2)
pred2 = iforest.predict(x_test2)
pred_other2 = iforest.predict(x_test_other2)
pred2 = pd.DataFrame(pred2, columns=['pred'])
pred2['true'] = 1
pred_other2 = pd.DataFrame(pred_other2, columns=['pred'])
pred_other2['true'] = -1
print(
    accuracy_score(pred2.true, pred2.pred),
#     precision_score(pred.true, pred.pred),
#     recall_score(pred.true, pred.pred),
#     roc_auc_score(y_pred_urls_self.true, y_pred_urls_self.predictions),
    sep='\n')
print('\n',
    accuracy_score(pred_other2.true, pred_other2.pred),
#     precision_score(pred_other.true, pred_other.pred),
#     recall_score(pred_other.true, pred_other.pred),
#     roc_auc_score(y_pred_urls_self.true, y_pred_urls_self.predictions),
    sep='\n')

1.0


0.0

In [506]:
svm = OneClassSVM()
svm.fit(x_train1)
pred1 = svm.predict(x_test1)
pred_other1 = svm.predict(x_test_other1)
pred1 = pd.DataFrame(pred1, columns=['pred'])
pred1['true'] = 1
pred_other1 = pd.DataFrame(pred_other1, columns=['pred'])
pred_other1['true'] = -1
print(
    accuracy_score(pred1.true, pred1.pred),
#     precision_score(pred.true, pred.pred),
#     recall_score(pred.true, pred.pred),
#     roc_auc_score(y_pred_urls_self.true, y_pred_urls_self.predictions),
    sep='\n')
print('\n',
    accuracy_score(pred_other1.true, pred_other1.pred),
#     precision_score(pred_other.true, pred_other.pred),
#     recall_score(pred_other.true, pred_other.pred),
#     roc_auc_score(y_pred_urls_self.true, y_pred_urls_self.predictions),
    sep='\n')

0.5189873417721519


0.7008196721311475

In [507]:
svm = OneClassSVM()
svm.fit(x_train2)
pred2 = svm.predict(x_test2)
pred_other2 = svm.predict(x_test_other2)
pred2 = pd.DataFrame(pred2, columns=['pred'])
pred2['true'] = 1
pred_other2 = pd.DataFrame(pred_other2, columns=['pred'])
pred_other2['true'] = -1
print(
    accuracy_score(pred2.true, pred2.pred),
#     precision_score(pred.true, pred.pred),
#     recall_score(pred.true, pred.pred),
#     roc_auc_score(y_pred_urls_self.true, y_pred_urls_self.predictions),
    sep='\n')
print('\n',
    accuracy_score(pred_other2.true, pred_other2.pred),
#     precision_score(pred_other.true, pred_other.pred),
#     recall_score(pred_other.true, pred_other.pred),
#     roc_auc_score(y_pred_urls_self.true, y_pred_urls_self.predictions),
    sep='\n')

0.6772151898734177


0.8114754098360656